<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>404</title>
  
      <link  rel="stylesheet" href="../public/css/style.css" />
      <link rel="stylesheet" href="../public/css/index.css">

   </head>
   <body>
      <header class="page-header">
         <p id="page-title">
            <a id="redirect" >
                <img id="icon" class="logo-img">
                <script>
                    document.getElementById("icon").src = "https://" + window.location.hostname +"/theme-resources/assets/admin/layout/img/logo-app.png";
                    document.getElementById("redirect").href = "https://" + window.location.hostname + "/portal/group/guest/momentum";
                </script>
            </a>
        </p>
      </header>
      <div id="notfound">
         <div class="notfound">
            <div class="notfound-404">
               <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>we are sorry, but the page you requested was not found or you do not have sufficient access to use this application</h2>
         </div>
      </div>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-23581568-13');
      </script>
   </body>
</html>
